@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wellfleet&display=swap");

@import "../sass/base/base";
@import "../sass/base/typography";
@import "../sass/base/animations";

@import "../sass/abstracts/functions";
@import "../sass/abstracts/mixins";
@import "../sass/abstracts/variables";

@import "../sass/components/button";
@import "../sass/components/sidebar";
@import "../sass/components/navbar";

/*Content Card */



.user-head {
  padding-top: 25px;
  font-family: "oswald";
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-head p {
  font-size: 30px;
}
.user-head h3 {
  font-size: 17px;
}

.user-head h3 span {
  color: $color-button;
}

.table-card {
  margin-top: 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  background-color: white;
  padding: 5px 0 5px 10px;
  animation: user 0.3s ease;
  border-left: 3px solid transparent;
}

.table-card:hover {
  border-left: 3px solid $color-button;
  cursor: pointer;
}

thead,
tbody {
  display: grid;
  grid-template-columns: 1% 12% 10% 17% 15% 10% 10% 2%;
  grid-gap: 20px;
}
.ta-head {
  font-size: 10px;
  text-align: left;
  color: $color-table-head;
  font-family: "wellfleet";
}

thead .ta-head th {
  font-weight: normal;
  display: grid;
  text-align: left;
}

.ta-body td {
  font-size: 10px;
}

tbody .ta-head {
  display: grid;
  text-align: left;
  color: black;
  font-size: 9px;
  padding-top: 6px;
}

.sticker {
  font-size: 30px;
}

/*End Content Card */
