@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');


* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

:root{
	--bgcontent:#F3F0EF;
	--bg:#FB976A;
	--bg1:#CD7650;
	--bg-sidebar:#B2B3A6;
	--bg2:#B96B48;
	--fontcolor:#484544;
	--fontcolor:#C1B068;
	--button:#2ab82f;

}

body{
	background-color: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.box{
	display: flex;
	margin: 0 auto;
	width: 80%;
	height: 90%;
	background-color: var(--bgcontent);
	border-radius: 10px;
}

/* Start Sidebar*/


.sidebar{
	 border-top-left-radius: 10px;
	 border-bottom-left-radius: 10px;
	overflow: hidden;
	flex: 1;
	padding:20px;
	background-color: rgba(178, 179, 166, 0.1);
}

.header-side{
	padding-bottom: 5px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--bg-sidebar);
}

.header-side p{
	font-family: 'Oswald';
	font-weight: bold;
}

.menu{
	padding-top: 25px;
	font-family:'Wellfleet';
	margin-bottom: 20px;
}

.menu img{
	width: 40%;
}

.hello{
	font-size: 20px;
	margin-top: 20px;
}

.inform-admin{
	font-family:'Wellfleet';
	font-size: 13px;
}

.inform-admin span{
	color: var(--button);
}

.button {
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	background-color: rgba(42, 184, 47, 1);
	padding: 12px;
	color: var(--bgcontent);
	border-radius: 8px;
	font-family: 'wellfleet';
	cursor: pointer;
}

.fa-plus:hover{
	color: rgb(61, 253, 2);
}



.first-menu{
	margin-top: 30px;
	height: 170px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-menu ul{
	display: flex;
	flex-direction: column;
}

.list{
	display: flex;
	padding:10px 6px;
	font-size: 12px;
}

.list:hover{
	background-color: white;
	border-radius: 6px;
	cursor: pointer;
}

.list i{
	margin-right: 15px;
}

.list p{
	font-family: 'wellfleet';
}

.logout{
	display: flex;
	padding: 10px 6px;
	font-size: 12px;
	font-family: 'wellfleet';
}

.logout i{
	margin-right: 15px;
}

.logout:hover{
	background-color: white;
	border-radius: 6px;
	cursor: pointer;
}

/* End Sidebar*/


/*Content Card */

.content{
	flex: 5;
	padding: 20px;
}

.header-nav{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--bg-sidebar);
	padding-top: 5px;
}

.left-menu ul , .search{
	display: flex;
	font-family:'oswald';
	font-weight: bold;
	align-items: center;
	
}

.left-menu ul li a{
	padding: 0 10px;
	font-size: 17px;
}

.header-nav .left-menu ul li a:hover{
	border-bottom: 3px solid var(--button);
	cursor: pointer;
}

.search p{
	font-size: 17px;
	margin-left: 10px;
}

.search i{
	padding-top: 5px;
	font-size: 13px;
}

.user-head{
	padding-top: 25px;
	font-family: 'oswald';
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-head p{
	font-size: 30px;
}
.user-head h3{
	font-size: 17px;

}

.user-head h3 span{
	color: var(--button);
}

.table-card{
	margin-top: 5px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: grid;
	background-color: white;
	padding: 5px 0 5px 10px;
	animation: user 0.3s ease;
	border-left: 3px solid transparent
}

.table-card:hover{
	border-left: 3px solid var(--button);
	cursor: pointer;
}


thead,tbody{
	display: grid;
	grid-template-columns: 1% 12% 10% 17% 15% 10% 10% 2%;
	grid-gap: 20px;
}
.ta-head{
	font-size: 10px;
	text-align: left;
	color: rgb(185, 185, 185);
	font-family: 'wellfleet';
}

thead .ta-head th{
	font-weight: normal;
	display: grid;
	text-align: left;
}

.ta-body td{
	font-size: 10px;
}


tbody .ta-head {
	display: grid;
	text-align: ledt;
	color: black;
	font-size: 9px;
	padding-top: 6px;
}

.sticker{
	font-size: 30px;
}

@keyframes user {
	0%{
		transform: translateX(30px);
	}
	50%{
		transform: translateX(-50px);
	}
}

/*End Content Card */