.header-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.066rem solid $color-bg-sideabr;
  @include header;
  .menu-top ul li a {
    padding: 0 0.66rem;
    font-size: 1.2rem;
  }
  .menu-top ul li a:hover {
    border-bottom: 0.2rem solid $color-button;
    cursor: pointer;
  }

  .search {

    &__input {
      outline: none;
      font-family: "oswald";
      font-weight: 800;
      border: none;
      border-radius: 5%;
      text-transform: uppercase;
      padding: 0.2rem 0.2rem 0 0.2rem;
    }

    &__icon {
      width: 0.33rem;
      margin: 0 0.53rem;
      font-size: 0.86rem;
      

      &:hover{
        cursor: pointer;
      }
    }
  }
}
