@import "../abstracts/variables";
@import "../abstracts/mixins";

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html{
	font-size: 15px;

	@include responsive (large){
		font-size: 95%;
	}
	@include responsive (medium){
		font-size:86%;
	}
	
	@include responsive (small){
		font-size: 66%;
	}
	@include responsive(very-large){
		font-size: 100%;
	}
}

body{
	background-color: $color-background;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	display: flex;
	margin: 0 auto;
	width: 80%;
	height: 90%;
	background-color: $color-content;
	border-radius: 0.66rem;
	@include responsive(small){
		width: 95%;
		height: 95%;
	}
	@include responsive(medium){
		width:97%;
		height: 95%;
	}

  }

  .content {
	flex: 5;
	padding: 1.3rem;
	@include responsive(medium){
		padding: 1.3rem .5rem;
	}
	@include responsive(small){
		padding: 1.3rem;
	}
  }